<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Eswar R - 810019205034</title>
</head>
<body>
    <nav>
        <p>Assignment 4 - Create registration page with POST method display it in next html page. <br>Eswar R - 810019205034</p>
    </nav>
    {% block logincontent %}{% endblock %}
</body>
</html>