{% extends "base.html" %} 
{% block title %}Login{% endblock %}

{% block logincontent %}

<div class="forms">
    <div class="container">
        <div class="form login">
            <span class="title">Login</span>
            <form method="post">
                <div class="input-field">
                    <input type="email" name="lemail" placeholder="Email" required>
                    <i class="uil uil-envelope-alt icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password" name="lpassword" placeholder="Password" required>
                    <i class="uil uil-padlock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="logCheck">
                        <label for="logCheck" class="text" style="font-weight: normal; margin-top: 7.4px;">Remember me</label>
                    </div>
                    <a href="#" class="text">Forgot Password?</a>
                </div>
                <div class="input-field button">
                    <input type="submit" value="Login">
                </div>
            </form>
            <div class="login-signup">
                <span class="text">Haven't Account?
                    <a href="/register" class="text signup-link">Register here</a>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}