<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Expense Tracker</title>
</head>
<body>
    <nav class="navbar sticky-top  navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">ExpenseTracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="/add">Add</a></li>
                <li class="nav-item"><a class="nav-link" href="/display">History</a></li>
                <li class="nav-item"><a class="nav-link" href="/limit">Limit</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/today">Today</a>
                        <a class="dropdown-item" href="/month">Month</a>
                        <a class="dropdown-item" href="/year">Year</a>
                    </div>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-primary" style="color: #ffffff;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %} 
    {% endblock %}
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://img.icons8.com/bubbles/100/000000/money-bag.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>

    <title>Expense Tracker</title>
</head>
<body>
    <header>
        <div class="container1">
            <input type="checkbox" name="" id="check">
            <div class="logo-container1">
                <h3 class="logo1">Expense<span>Tracker</span></h3>
            </div>
            <div class="nav-btn1">
                <div class="nav-links1">
                    <ul>
                        <li class="nav-link1" style="--i: .6s">
                            <a href="/home">Home</a>
                        </li>
                        <li class="nav-link1" style="--i: .6s">
                            <a href="/add">Add</a>
                        </li>
                        <li class="nav-link1" style="--i: .6s">
                            <a href="/display">History</a>
                        </li>
                        <li class="nav-link1" style="--i: .6s">
                            <a href="/limit">LIMIT</a>
                        </li>
                        <li class="nav-link1" style="--i: .85s">
                            <a href="#">Report<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown1">
                                <ul>
                                    <li class="dropdown-link1">
                                        <a href="/today">TODAY</a>
                                    </li>
                                    <li class="dropdown-link1">
                                        <a href="/month">Month</a>
                                    </li>
                                    <li class="dropdown-link1">
                                        <a href="/year">Year</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                {% block profile %}
                {% endblock %}

                <!-- <div class="log-sign" style="--i: 1.8s">
                    <a href="/login" class="btn transparent" style="font-weight: bold;">Log in</a>
                    <a href="#" class="btn solid">Sign up</a>
                </div> -->
                <!-- <div class="log-sign" style="--i: 1.8s">
                    <a href="#" class="btn transparent" style="font-weight: bold;">Profile</a>
                    <a href="/logout" class="btn solid" style="font-weight: bold;">Logout</a>
                </div> -->
            </div>

            <div class="hamburger-menu-container1">
                <div class="hamburger-menu1">
                    <div></div>
                </div>
            </div>
        </div>
    </header>

    {% block indexcontent %} 
    {% endblock %}
    <!-- <main>
        <section>
            <div class="overlay">
                <h1>Welcome</h1>
            </div>
        </section>
    </main> -->
</body>

</html>