@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
}
.nav {
    width: 100vw;
    box-shadow: 0 0 10px #e1e5ee;
}
.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}
.nav__listlogo {
    list-style: none;
    margin-right: auto;
}
.nav__logoname {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
    color: #cc255d;
    font-size: 20px;
}
.nav__listlogo img {
    width: 3.5rem;
    transition: fill 250ms ease-in;
}
.nav__listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
}
.nav__listitem:hover ul, .nav__listitem:focus ul {
    opacity: 1;
    visibility: visible;
}
.nav__listitemdrop {
    position: absolute;
    top: 3.5rem;
    left: -13rem;
    box-shadow: 0 0 10px #e1e5ee;
    width: 17rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    border-top: 5px solid #f06292;
}
.nav__listitemdrop a {
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
}
.nav__listitemdrop a li {
    list-style: none;
}
.nav__listitemdrop a:hover {
    background-color: #fce4ec;
}

/* form */
.msg-content {
    position: absolute;
    min-width: 30%;
    bottom: 0%;
    right: 1%;
    z-index: 10;
}
.forms {
    font-family: 'Poppins', sans-serif;
    height: 94.75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 249, 252);
}
.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container .form {
    padding: 30px;
}
.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #f06292;
    border-radius: 25px;
}
.form .input-field {
    margin-top: 30px;
    position: relative;
    height: 50px;
    width: 100%;
}
.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0% 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) {
    border-bottom-color: #f06292
}
.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
    color: #999;
}
.input-field input:is(:focus, :valid) ~ i {
    color: #f06292;
}
.input-field i.icon {
    left: 0%;
}
.input-field i.showHidePw {
    right: 0%;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}
.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #f06292;
}
.form .text {
    color: #333;
    font-size: 14px;
}
.form a.text {
    color: #f06292;
    text-decoration: none;
}
.form a:hover {
    text-decoration: underline;
}
.form .button {
    margin-top: 35px;
}
.form .button input {
    border: none;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    background-color: #f06292;
    transition: all 0.3s ease;
}
.button input:hover {
    background-color: #f04a81;
}
.form .login-signup {
    margin-top: 30px;
    text-align: center;
}